<!DOCTYPE html>
<html lang="en">
    <head>

        {% load static %}

        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
        <meta name="description" content="" />
        <meta name="author" content="" />
        <title>{% block title %}{{ settings.APP_NAME }}{% endblock %}</title>
        <!-- Favicon-->
        <link rel="icon" type="image/x-icon" href="{% static '/assets/favicon.ico' %}" />
        <!-- Bootstrap icons-->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css" rel="stylesheet" type="text/css" />
        <!-- Google fonts-->
        <link href="https://fonts.googleapis.com/css?family=Lato:300,400,700,300italic,400italic,700italic" rel="stylesheet" type="text/css" />
        <!-- Core theme CSS (includes Bootstrap)-->
        <link href="{% static '/css/styles.css' %}" rel="stylesheet" />
        <!-- Awesome fonts 
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">-->
    </head>
    <body>
        <!-- Navigation-->
        <nav class="navbar navbar-light bg-light static-top">
            <div class="container">
                <a class="navbar-brand" href="{% url 'home:main' %}">Home</a>
                <a class="navbar-brand" href="{% url 'blogapp:pages-list' %}">Pages</a>
                <a class="navbar-brand" href="{% url 'messageapp:list-messages' %}">Private Messages</a>
                <a class="navbar-brand" href="{% url 'blogapp:About' %}">About Us</a>
                <form action="/search" method="GET">
                    <div>
                        <input type="text" name="query" id="course_code_or_name" placeholder="Buscar.."
                        {% if query %} value="{{ query }}" {% endif %}
                        >
                        <input type="submit" value="Buscar">
                        <a style="color: blue" href="{% url 'home:main' %}"><i class="fa fa-undo"></i></a>
                    </div>
                
                </form>
                {% if user.is_authenticated %}
                <a class="btn btn-secondary" href="{% url 'userapp:user-update' %}">{{ user.username }}</a>
                <img src="{{ user.profile.avatar.url }}" alt="Avatar de {{ page.author }}" width="4%" height="4%"></a>
                <a class="btn btn-primary" href="{% url 'userapp:user-logout' %}">Cerrar Sesión</a>
                {% else %}
                <a class="btn btn-primary" href="{% url 'userapp:user-login' %}">Iniciar Sesión</a>
                {% endif %}
            </div>
        </nav>
        <!-- Masthead-->
        <header class="masthead">
            <div class="container position-relative">
                <div class="row justify-content-center">
                    <div class="col-xl-6">
                        <div class="text-center text-white">
                            <!-- Page heading-->
                            {% if messages %}
                                {% for message in messages %}
                                <h4><p style="color: rgb(131, 31, 0)" {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</p></h4>
                                {% endfor %}
                            {% endif %}
                            <div class="text-lg-start text-white">

                                {% block content %}
                                <!-- Content Goes here -->
                                {% endblock content %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

    <!--Footer-->
    <footer class="bg-light text-lg-start">
        <div class="py-4 text-center">
            {% if user.is_superuser %}
            <h5><p style="color: rgb(82, 82, 82)" >This user is: SuperUser</p></h5>
            {% else %}
            <h5><p style="color: rgb(82, 82, 82)" >This user is: Not SuperUser</p></h5>
            {%endif%}
        </div>

        <hr class="m-0" />

        <div class="text-center py-4 align-items-center">
        <p>Follow Coderhouse on social media</p>
        <a href="https://www.youtube.com/channel/UCeFRG6700bzqYI0M_9vyelw" class="btn btn-primary m-1" role="button"
            rel="nofollow" target="_blank">
            <i class="fab fa-youtube"></i>
        </a>
        <a href="https://www.facebook.com/Coderhouse/" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-facebook-f"></i>
        </a>
        <a href="https://twitter.com/coderhouse" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-twitter"></i>
        </a>
        <a href="https://github.com/ltiisidii/coderhouse-django-blog" class="btn btn-primary m-1" role="button" rel="nofollow"
            target="_blank">
            <i class="fab fa-github"></i>
        </a>
        </div>

        <!-- Copyright -->
        <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
        © 2022 Copyright:
        <a class="text-dark" href="https://www.coderhouse.com/">coderhouse.com</a>
        </div>
        <!-- Copyright -->
    </footer>
    <!--Footer-->        


        <!-- Bootstrap core JS-->
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
        <!-- Core theme JS-->
        <script src="{% static '/js/scripts.js' %}"></script>
        <script src="{% static 'fontawesomefree/js/all.min.js' %}"></script>
        </body>
</html>