{% extends "home/index.html" %}
{% load static %}
{% block content %}

{% if user.is_authenticated %}
<div class="text-center">
    <h2>Bienvenido {{ user.username }}</h2>
    <img height="160px" src="" alt="">
</div>
{% endif %}
    <center>
    <div class="col-md-8 mt-3 left">
        {% for page in page_list %}
        <div class="card mb-4">
            <div class="card-body">
                <h2 class="card-title">{{ page.title }}  
                    {% if user.is_superuser %}
                    <a href="{% url 'blogapp:page-update' page.id %}">
                        <i class="fa fa-pencil" style="color: rgb(0, 0, 190);"></i>
                    </a>
                    |
                    <a href="{% url 'blogapp:page-delete' page.id %}">
                        <i class="fa fa-trash" style="color: rgb(0, 0, 100);"></i>
                    </a>
                    {%endif%}
                </h2>
                <p class="card-text text-muted h6">{{ page.author }} | {{ page.created_on}}
                <img class="card-img" src="{{ page.page_image.url }}" class="rounded" alt="{{ page.title }}">
                </p>
                    {% if page.body %}
                <p class="card-text">
                    {{page.body|safe|striptags|slice:":200"}}
                    </p>
                    {% endif %}
                    <a href="{% url 'blogapp:page-detail' page.id  %}" class="btn btn-primary">Read More &rarr;</a>
            </div>
        </div>
        {% empty %}
        <h3>Aún no hay post publicados</h3>
        {% endfor %}
    </div>
    </center>


{% endblock %}