{% extends "home/index.html" %}
{% load static %}

{% block content %}

<div class="container-fluid">
    <main class="tm-main">         
        <div class="row tm-row">
            <div class="col-lg-8 tm-post-col">
                <div class="tm-post-full">                    
                    <div class="mb-4">
                        <form action="{% url 'messageapp:send_messages' %}" method="post" enctype="multipart/form-data">{% csrf_token %}
                            <table> 
                                {{form.as_table}}
                            </table>
                            <br>
                            <input type="submit" value="Crear">       
                        </form>
            </div>        
        </div>
    </div>
</div>

{% if message %}
<h1 style="color:red">{{message}}</h1> 
{% endif %}


{% endblock %}